h1,
p {
  font-family: Lato;
}

#login {
  position: relative;
  text-align: center;
  background-color: gray;
  border-radius: 5%;
  width: 50%;
  margin-left: 25%;
  color: aqua;
  box-shadow: 2em, 2em, 3em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px aqua;
}
